.jumbotron {
    background-color: grey
    color: black;
    margin-top: 50px;
}

footer {
    background-color: rgba(105, 105, 105, 0.205);
    margin-bottom: 0px;
    margin-top: 10px;

}

.card-hotel {
     /*  flex: 1 150px;  */
     margin-top: 10px;
}

.btn-reserva {
    width: 100%;
    border-radius: 0px;
    padding: 10px;

}

.footer-adress-icon {
    padding-right: 10px;
}

.icon-boton {
    padding-right: 10px;
}

footer span {
    margin-top: 10px;
    margin-left: 20px;
}

.tab-content {
    padding-top: 10px;
}