$grey:#5c5c8a;
$black: #003300;
$yellow: #f7f7ba;

@mixin margenes($top, $bottom) {
    margin-top: $top;
    margin-bottom: $bottom;
}

.jumbotron {
    background-color: $yellow;
    color: $black;
    //margin-top: 50px;
    @include margenes(50px, 10px)

}

footer {
    background-color: $yellow;
    margin-bottom: 0px;
    margin-top: 10px;

}

.card-hotel {
     /*  flex: 1 150px;  */
     margin-top: 10px;
}

.btn-reserva {
    width: 100%;
    border-radius: 0px;
    padding: 10px;

}

.footer-adress-icon {
    padding-right: 10px;
}

.icon-boton {
    padding-right: 10px;
}

footer span {
    margin-top: 10px;
    margin-left: 20px;
}

.tab-content {
    padding-top: 10px;
}