.jumbotron {
  background-color: #f7f7ba;
  color: #003300;
  margin-top: 50px;
  margin-bottom: 10px; }

footer {
  background-color: #f7f7ba;
  margin-bottom: 0px;
  margin-top: 10px; }

.card-hotel {
  /*  flex: 1 150px;  */
  margin-top: 10px; }

.btn-reserva {
  width: 100%;
  border-radius: 0px;
  padding: 10px; }

.footer-adress-icon {
  padding-right: 10px; }

.icon-boton {
  padding-right: 10px; }

footer span {
  margin-top: 10px;
  margin-left: 20px; }

.tab-content {
  padding-top: 10px; }
