@grey:#5c5c8a;
@black: #003300;
@yellow: #f7f7ba;

.margenes(@top: 0px, @bottom: 0px) {
    margin-top: @top;
    margin-bottom: @bottom;
}

.jumbotron {
    background-color: @yellow;
    color: @black;
    //margin-top: 50px;
    .margenes(50px, 10px);
}

footer {
    background-color: @yellow;
    margin-bottom: 0px;
    margin-top: 10px;

}

.card-hotel {
     /*  flex: 1 150px;  */
    //  margin-top: 10px;
    .margenes(10px, 0px);
}

.btn-reserva {
    width: 100%;
    border-radius: 0px;
    padding: 10px;

}

.footer-adress-icon {
    padding-right: 10px;
}

.icon-boton {
    padding-right: 10px;
}

footer span {
    margin-top: 10px;
    margin-left: 20px;
}

.tab-content {
    padding-top: 10px;
}